body{
    background: url("above.jpg") no-repeat center center fixed; 
      background-size:cover;
}

#container, #container2{
    width: 1300px; 
    height: 600px; 
    margin: 100px auto 0px auto;
}

#paper{
    margin : 5%;
    padding: 1%;
    border-radius: 25px;
    background-color: white;
    
}
#legend {
    width: 4000px; 
    margin: auto; 
    padding: auto;
    background-color: white;
} 


.center{
    text-align: center;
}

.field{
    display: inline
}

.input{
    display: block;
    text-align: center;
    margin: 0 auto; 
    padding: auto;
}

#draw {
    display: block;
    margin: auto; 
    left: 50%;
}

#left {
    float: left;
    width: 50%;
}

#right{
    float: right;
    width: 50%;
}